* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: url("./images/jurij-kenda-OcMKDx5y11A-unsplash.jpg") no-repeat
    fixed;
  background-size: 100vw 100vh;
  /* background-position-y: ; */
}
